@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: "miama";
  src: url(fonts/Miama.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

/*----------------------------
        header styles 
------------------------------*/

header {
  background: linear-gradient(
    180deg,
    rgba(17, 17, 17, 1) 0%,
    rgba(119, 119, 119, 0) 100%
  );
  padding-top: 60px;
  margin-bottom: 100px;
}
/*----------------------------
        nav styles 
------------------------------*/

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 32px;
}

.nav-h3 {
  color: #e6533c;
  font-family: "Inter", sans-serif;
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 800;
  line-height: 120%;
}

.nav-ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 47px;
  border-radius: 39px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 4px;
}

.nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
}

.nav ul li a:hover {
  color: #e6533c;
  transition: all 0.3s ease;
}

#home-button {
  padding: 8px 20px;
  background: #e6533c;
  font-weight: 600;
  border-radius: 46px;
}
.about-button {
  padding: 0 20px;
}

#home-button:hover,
#home-button:hover a {
  background: #ff7f6b;
  cursor: pointer;
  color: rgb(53, 52, 52);
  transition: all 0.3s ease;
}

#fa-bars {
  display: none;
}

/*----------------------------
        Hero Section Styles 
------------------------------*/

.hero {
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.hero-content {
  width: 520px;
  max-width: 50%;
}

.heto-h1 {
  font-family: "Inter", sans-serif;
  font-size: 4.875rem;
  font-weight: 900;
  line-height: 120%;
  color: #fff;
  margin-bottom: 28px;
}

#hero-h1-shape {
  font-family: "miama", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 10rem;
}

.hero-paragraph {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.5rem;
  letter-spacing: 0.03125rem;
  margin-bottom: 28px;
}

.primary-button {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.375rem;
  padding: 16px 40px;
  border-radius: 42px;
  background: #e6533c;
  border: none;
  width: 210.656px;
}

.primary-button:hover {
  background: #ff7f6b;
  cursor: pointer;
  color: black;
  transition: all 0.3s ease;
}

.primary-button:active {
  font-size: 1rem;
}

.hero-button-download {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.375rem;
  padding: 16px 40px;
  border-radius: 42px;
  background: transparent;
  border: 1px solid #fff;
  width: 210.64px;
  transition: background 0.8s ease, font-size 0.3s ease;
  margin-left: 14px;
}

.hero-button-download:hover {
  background: #fff;
  color: black;
  cursor: pointer;
}

.hero-button-download:active {
  font-size: 1rem;
}

.hero-image-container {
  position: relative;
  width: 50%;
}

.hero-image img {
  display: flex;
  justify-self: end;
  width: auto;
}

.hero-image-info {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
  padding: 20px 23px;
  max-width: 207px;
  position: absolute;
  bottom: 63px;
  right: 256px;
}

.hero-image-info-icon {
  width: 40px;
  height: 40px;
}

.hero-image-info-icon img {
  display: block;
  width: 100%;
}

.hero-image-info-text > h4 {
  color: #fafaf9;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 5px;
}

.hero-image-info-text > p {
  color: rgba(239, 237, 232, 0.65);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.hero-image-info2 {
  padding: 16px 24px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 350px;
  right: -80px;
}

.hero-image-info2-h4 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2.5rem;
  letter-spacing: 0.0625rem;
  margin-bottom: 5px;
}

.hero-image-info2-paragraph {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Inter", sans-serif;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
}

/*----------------------------
        Main Section Styles 
------------------------------*/

/*----------------------------
 Change Your Habit Section Styles 
------------------------------*/

.change-your-habit {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.change-your-habit-heading {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  text-align: center;
  margin-bottom: 14px;
}

.change-your-habit-paragraph {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.01875rem;
}

.change-your-habit-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 60px;
}

.change-your-habit-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: transparent 2px solid;
  border-radius: 5px;
  padding: 30px 20px;
}

#card-1:hover {
  cursor: pointer;
  border: #e6533c 2px solid;
  box-shadow: 0px 0px 20px 20px rgba(230, 83, 60, 0.2);
  transition: all 1s ease;
}
#card-2:hover {
  cursor: pointer;
  border: #3c80e6 2px solid;
  box-shadow: 0px 0px 20px 20px rgba(60, 128, 230, 0.2);
  transition: all 1s ease;
}
#card-3:hover {
  cursor: pointer;
  border: #3ce661 2px solid;
  box-shadow: 0px 0px 20px 20px rgba(60, 230, 97, 0.2);
  transition: all 1s ease;
}
#card-4:hover {
  cursor: pointer;
  border: #563ce6 2px solid;
  box-shadow: 0px 0px 20px 20px rgba(86, 60, 230, 0.2);
  transition: all 1s ease;
}

.change-your-habit-card img {
  max-width: 100%;
  border-radius: 50%;
  margin-bottom: 30px;
}

.change-your-habit-card:hover img {
  box-shadow: 0px 0px 20px 5px #dbdbdb;
  transition: all 0.8s ease;
}

.card-h5 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 5px;
}

.card-paragraph {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.3px;
}

/*----------------------------
     Run Extra Mile Styles
------------------------------*/

.run-extra-mile {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 30px 32px 30px 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  border-radius: 18px;
}

.run-extra-mile-content {
  max-width: 50%;
}

.run-extra-mile-content-h2 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 14px;
}

.run-extra-mile-content-paragraph {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.01875rem;
  margin-bottom: 34px;
}

.run-extra-mile-image {
  width: 360px;
  max-width: 50%;
  height: 312px;
  background-image: url(images/run.jpg);
  background-size: 320%;
  background-repeat: no-repeat;
  background-position: 69% 32%;
  border-radius: 18px;
}
/* .run-extra-mile-image img {
  width: 100%;
} */

/*----------------------------
     BMI Calculator Styles
------------------------------*/

.bmi-calculator-heading {
  margin-bottom: 50px;
  max-width: 670px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.bmi-calculator-h2 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 14px;
}

.bmi-calculator-paragraph {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.01875rem;
}

.bmi-calculator-content-section {
  background: #222;
}

.bmi-calculator-content {
  padding: 52px;
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  margin: 0 auto;
}

.bmi-table {
  width: 50%;
}

.bmi-table-h4 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 52px;
}

.bmi-calculator-content table {
  border-collapse: collapse;
}
th,
td {
  font-family: "Inter", sans-serif;
  padding: 13px 18px;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

th {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 120%;
}

td {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  line-height: 120%;
}

.bmi-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.bmi-form-container {
  width: 50%;
}

.bmi-form-container-h2 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 14px;
}

.bmi-form-container-paragraph {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.01875rem;
  margin-bottom: 34px;
}

.bmi-form {
  margin-bottom: 34px;
}

input {
  padding: 12px 40px 12px 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  font-family: "Inter", sans-serif;
  line-height: 1.375rem;
  border: 1px transparent solid;
  width: 100%;
  outline: none;
}

input:focus {
  border: 1px solid #e6533c;
  transition: border 0.3s ease;
}

.control {
  padding: 12px 40px 12px 20px;
  border-radius: 8px;
  background-color: rgba(56, 56, 56);
  color: rgba(255, 255, 255, 0.6);
  font-family: "Inter", sans-serif;
  line-height: 1.375rem;
  border: 1px transparent solid;
  width: 100%;
  appearance: none;
  outline: none;
}

.control:focus {
  border: 1px solid #e6533c;
  transition: border 0.3s ease;
}

#bmi-select-activity {
  grid-column: span 2;
}

select {
  background: url(icons/down-arrow.svg) no-repeat right 24px center;
}

/*----------------------------
        Responsive Styles
------------------------------*/

@media (max-width: 480px) {
  /*----------------------------
        header styles 
------------------------------*/

  header {
    padding-top: 50px;
    margin-bottom: 50px;
  }

  /*----------------------------
        nav styles 
------------------------------*/

  .nav {
    max-width: 90%;
    margin-bottom: 50px;
  }

  .nav-ul {
    display: none;
  }

  #fa-bars {
    display: block;
    color: #fff;
    font-size: 1.5rem;
  }

  /*----------------------------
        Hero Section Styles 
------------------------------*/

  .hero {
    max-width: 90%;
    flex-direction: column;
  }

  .hero-content {
    max-width: 100%;
  }

  .heto-h1 {
    font-size: 2.25rem;
  }

  #hero-h1-shape {
    font-size: 5rem;
  }

  .hero-paragraph {
    width: 274px;
  }

  .hero-buttons {
    display: flex;
    justify-content: center;
  }

  .primary-button {
    width: auto;
  }
  .primary-button span {
    display: none;
  }
  .primary-button::after {
    content: "Join Now!";
  }

  .hero-button-download {
    padding: 16px 20px;
    width: auto;
  }

  .hero-image-container {
    width: 100%;
  }

  .hero-image-info {
    gap: 9px;
    padding: 15px 17px;
    max-width: 160px;
    bottom: 250px;
    right: 180px;
  }

  .hero-image-info-icon {
    width: 30px;
    height: 30px;
  }

  .hero-image-info-text > h4 {
    font-size: 1.134rem;
    line-height: 18.144px;
    letter-spacing: 0.227px;
    margin-bottom: 3px;
  }

  .hero-image-info-text > p {
    font-size: 0.756rem;
    line-height: 18.144px;
    letter-spacing: 0.378px;
  }

  .hero-image-info2 {
    padding: 12px 17px;
    bottom: 450px;
    right: 0px;
  }

  .hero-image-info2-h4 {
    font-size: 1.89006rem;
    line-height: 1.89006rem;
    letter-spacing: 0.04725rem;
    margin-bottom: 3px;
  }

  .hero-image-info2-paragraph {
    font-size: 0.61425rem;
    line-height: 0.945rem;
    letter-spacing: 0.04725rem;
  }

  /*----------------------------
 Change Your Habit Section Styles 
------------------------------*/

  .change-your-habit {
    max-width: 90%;
    margin-bottom: 65px;
  }

  .change-your-habit-heading {
    font-size: 2rem;
  }

  .change-your-habit-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  /*----------------------------
     Run Extra Mile Styles
------------------------------*/

  .run-extra-mile {
    max-width: 90%;
    margin-bottom: 65px;
    padding: 30px 33px;
    flex-direction: column;
    gap: 30px;
  }

  .run-extra-mile-content {
    max-width: 100%;
  }

  .run-extra-mile-content-h2 {
    font-size: 2rem;
  }

  .run-extra-mile-content-paragraph {
    font-size: 0.875rem;
    margin-bottom: 24px;
  }

  .run-extra-mile-image {
    max-width: 100%;
    height: 170px;
    background-size: 150%;
  }
  .run-extra-mile-content-button {
    width: 100%;
  }
}

/*----------------------------
        For Tablet
------------------------------*/

@media screen and (min-width: 481px) and (max-width: 768px) {
  /*----------------------------
        header styles 
------------------------------*/

  header {
    padding-top: 50px;
  }

  /*----------------------------
        nav styles 
------------------------------*/

  .nav {
    max-width: 90%;
    margin-bottom: 75px;
  }

  .nav ul li a {
    font-size: 1rem;
  }

  /*----------------------------
        Hero Section Styles 
------------------------------*/

  .hero {
    max-width: 90%;
    flex-direction: column;
    gap: 100px;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero-image-container {
    width: 100%;
  }

  .hero-image img {
    justify-self: center;
  }

  .hero-image-info {
    bottom: 150px;
    right: 350px;
  }

  .hero-image-info2 {
    bottom: 430px;
    right: 120px;
  }
  /*----------------------------
 Change Your Habit Section Styles 
------------------------------*/

  .change-your-habit {
    max-width: 90%;
    margin-bottom: 85px;
  }

  .change-your-habit-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  /*----------------------------
     Run Extra Mile Styles
------------------------------*/

  .run-extra-mile {
    max-width: 90%;
    margin-bottom: 72px;
    padding: 40px 45px 40px 54px;
    gap: 50px;
  }

  .run-extra-mile-content-h2 {
    font-size: 2.25rem;
  }

  .run-extra-mile-image {
    width: 256px;
  }

  /*----------------------------
     BMI Calculator Styles
------------------------------*/

  .bmi-calculator-heading {
    max-width: 80%;
    margin-bottom: 50px;
  }

  .bmi-calculator-h2 {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 14px;
  }

  .bmi-calculator-paragraph {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.01875rem;
  }

  .bmi-calculator-content {
    flex-direction: column;
    max-width: 90%;
    gap: 62px;
  }

  .bmi-table {
    width: 100%;
  }

  .bmi-form-container {
    width: 100%;
  }
}

.none {
  display: none;
}
